# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.gz

# Directory for Instrumentation
coverage/

# Dependency directory
node_modules/

# dotenv environment variables file
.env
.env.test

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# Gatsby files
.cache/
public

# VuePress build output
.vuepress/dist

# Serverless directories
.serverless/

# TypeScript build output
dist/
build/

# VSCode settings
.vscode/

# MacOS Finder
.DS_Store

# Windows Installer files
Thumbs.db

# JetBrains IDE files
.idea/
